Win/GOPATHManage/bin/
Win/GOPATHManage/obj/
Win/GOPATHLib/obj/
Win/GOPATHManageConsole/obj/
Win/GOPATHManageConsole/bin/
Win/GoPathManage.Tests/obj/
Win/GOPATHLib/bin/
*.suo
Win/GoPathManage.Tests/bin/
